@model IEnumerable<oldhouse.Models.Image>

@{
    ViewBag.Title = "ViewServices";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewServices</title>
</head>
<body>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @*@Html.Hidden(model => model.ImagePath)*@ Images
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                <img src="@Url.Content( item.ImagePath)" width="200" height="200" />
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ImageID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ImageID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ImageID })
            </td>*@
        </tr>
    }
    
    </table>
</body>
</html>
